* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #351c09;
}

header {
    background-color: #E6DBF9;
    display: flex;
    justify-content: center;
    border-bottom: 1px inset brown;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    align-items: center;
    height: 100px;
}

h1 {
    text-align: center;
    color: #5A18CD;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Titan One', 'Tangerine', cursive;
    font-size: 2.2rem;
}

img {
    height: 100px;
    border-radius: 50%;
    order: 1;
    mix-blend-mode: multiply;
}

.book-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 2px ridge yellow; */
    align-items: center;
    height: 100px;
    margin: 40px 0;
}

.book-button p {
    font-size: 1.3rem;
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #E6DBF9;
    text-shadow: 1px 2px 9px #FD750D;
}

.book-button button {
    background-color: #5A18CD;
    border: none;
    color: #E6DBF9;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.book-button button:hover {
    background-color: #E6DBF9;
    color: #5A18CD;
    border: 1px solid #351C09;
}

.book-info {
    position: absolute;
    top: 250px;
    left: 350px;
    z-index: 10;
    padding: 20px;
    background-color: rgba(231, 220, 249, 0.88);
    color: #351C09;
    width: 50%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}

.book-info p {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

.instruction {
    display: flex;
    justify-content: space-between;
}

.instruction p {
    flex-grow: 1;
}

.exit-btn {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 7px;
    width: 70px;
    font-weight: 700;
}

.exit-btn:hover {
    background-color: #351C09;
    color: #E6DBF9;
}

.exit-btn:active {
    background-color: #5A18CD;
    color: #E6DBF9;
}

input[type=text] {
    color: #5A18CD;
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 2px 2px 5px 2px rgb(0, 0, 0, 0.2);
}

input[type=text]:focus {
    color: #E6DBF9;
    background-color: #351C09;
    font-size: 1.1rem;
}

label {
    margin-bottom: 4px;
    position: relative;
    padding-left: 9px;
    cursor: pointer;
    font-family: monospace;
    font-size: 1.1rem;
}

.comments {
    display: block;
    margin-top: 40px;
    text-align: center;
    font-weight: 600;
}

input[type=radio] {
    width: 20px;
    height: 10px;
}

.selection {
    margin-left: 150px;
}

textarea {
    color: #5A18CD;
    width: 100%;
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: 1px 2px 6px 5px rgb(0, 0, 0, 0.2);
    margin: 20px 0;
    height: 150px
}

textarea:focus {
    color: #E6DBF9;
    background-color: #351C09;
    font-size: 1.1rem;
}

button#submit {
    display: block;
    font-weight: 400;
    width: 200px;
    background-color: #5A18CD;
    color: #E6DBF9;
    padding: 10px 8px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 20px auto;
}

button#submit:hover {
    font-weight: 500;
    background-color: #E6DBF9;
    color: #5A18CD;
    box-shadow:
        inset 0 -5em 3em rgba(0, 0, 0, 0.1),
        0 0 7px 1px rgb(255, 255, 255),
        0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.4);
}

button#submit:active {
    font-weight: 500;
    box-shadow: inset 0 -5em 3em rgba(0, 0, 0, 0.1),
        0 0 7px 1px rgb(255, 255, 255),
        0.1em -0.2em 0.1em 0.1em rgba(0, 0, 0, 0.4);
}

.book-display {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.book-series {
    border-radius: 10px;
    background-color: #FD750D;
    margin: 20px 10px;
}

.book-series:nth-child(2n) {
    background-color: #99CC33;
}

.title,
.author,
.pages,
.read,
.comment {
    padding: 10px 40px;
    text-align: center;
}

.title {
    border-bottom: 1px solid #351C09;
    background-color: #E6DBF9;
    color: #5A18CD;
    font-weight: 800;
}

.comment {
    background-color: #5A18CD;
    color: #E6DBF9;
    border-top-width: 2px;
    border-top-style: groove;
    word-wrap: break-word;
}

.delete-book {
    width: 100px;
    display: block;
    margin: 10px auto;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #E6DBF9;
    background-color: rgba(53, 28, 9, 0.863);
    font-weight: bolder;
    cursor: pointer;
}

.delete-book:hover {
    background-color: #E6DBF9;
    color: #351c09;
}

.delete-book:active {
    box-shadow:
        inset 2px 3px 0px rgba(0, 0, 0, 0.1),
        2px -4px 5px 1px rgba(0, 0, 0, 0.1),
        2px 3px 1px 1px rgba(0, 0, 0, 0.7);
}

.book-info {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.true-color {
    background-color: #94ff95;
}

.false-color {
    background-color: #ef0717;
}


@media only screen and (max-width:600px) {
    .book-info {
        /* place-items: center; */
        left: 0px;
        margin: 0 auto;
        width: 100%;
    }

    .book-info p,
    .instruction p {
        font-size: 0.9rem;
    }

    .exit-btn {
        width: 30px;
        height: 30px;
        padding: 0 5px;
    }

    label {
        font-size: 0.8rem;
    }

    input[type=text] {
        font-size: 0.7rem;
    }

    input[type=text]:focus,
    textarea:focus {
        font-size: 0.8rem;
    }

    button#submit {
        width: 100px;
        padding: 10px;
    }

    .book-series {
        width: 60%;
    }
}